.nav-container {
    background: linear-gradient(to top, black, #202020);
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.navbar {
    display: flex;
}

.nav-link {
    text-decoration: none;
    min-width: 12vw;
    min-height: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

.games-dropdown-open {
    min-width: 12vw;
    min-height: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

.games-dropdown-closed {
    min-width: 12vw;
    min-height: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

.games-dropdown-list {
    max-height: 0;
    overflow: hidden;
    width: 12vw;
    background-color: grey;
    position: absolute;
    top: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    transition: max-height 0.5s ease-out;
}

.games-dropdown-list.open {
    max-height: 500px;
}

.dropdown-divider {
    background-color: #202020;
    height: 3px;
    width: auto;
}

.nav-link:hover, .games-dropdown-open:hover, .games-dropdown-open:hover, .games-dropdown-closed:hover {
    background-color: #646464;
    transition: 0.5s;
    cursor: pointer;
    color: black;
}