.footer-container {
    background: linear-gradient(to bottom, #909078, #53554b);
    width: 100%;
    min-height: 200px;
    height: auto;
    margin: 0px;
    border-top: solid #696752 5px;
}

.footer {
    display: flex;
    justify-content: left;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.paragraph-footer {
    color: black;
    font-weight: bolder;
    width: 60%;
}