.footer-container {
    background: linear-gradient(to bottom, #909078, #53554b);
    width: 100%;
    min-height: 200px;
    height: auto;
    margin: 0px;
    border-top: solid #696752 5px;
}

.footer {
    display: flex;
    justify-content: left;
}