.footer-container {
    background: linear-gradient(to top, black, #202020);
    width: auto;
    min-height: 300px;
    height: auto;
    margin: 0;
    border-top: solid black 5px;
}

.footer-banner {
    position: relative;
    display: flex;
    width: auto;
    height: auto;
    background-color: black;
    justify-content: center;
    margin: 0;
    align-items: center;
    border-top: solid #202020 5px;
}

.footer-signup-banner {
    display: flex;
    width: auto;
    height: auto;
    background-color: black;
    justify-content: center;
    margin: 0;
    padding: 0;
    align-items: center;
}

.footer {
    border-top: solid black 5px;
    display: flex;
    justify-content: left;
}

.footer-left {
    color: black;
    min-width: 49.875%;
}

.footer-right {
    color: black;
    min-width: 49.875%;
}

.footer-divider {
    height: 300px;
    width: 0.25%;
    background: linear-gradient(to bottom, black, #202020);
}

.signup-form {
    margin-right: auto;
    height: 100%;
    flex: 1;
}

.signup-text {
    background: linear-gradient(to top, #202020, #202020);
    color: whitesmoke;
    border-style: none;
    height: 40px;
    width: 100%;
    margin: 0;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.submit-text {
    height: 100%;
    flex: 1;
}

.signup-submit {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: none;
    height: 40px;
    background: linear-gradient(to bottom, black, black);
    min-width: 100%;
    margin: 0;
    color: whitesmoke;
}

.signup-submit:hover {
    cursor: pointer;
    color: white;
    transition-duration: 0.5s;
    background: linear-gradient(to top, black, #202020);
}

.footer-list {
    color: black;
    text-decoration: none;
    padding: auto;
    margin: auto;
}

.footer-links {
    color: whitesmoke;
    text-decoration: none;
    list-style: none;
}

.footer-links:hover .footer-list-text:hover {
    color: black;
    background-color: rgb(100, 100, 100);
    transition: 0.3s;
}

.footer-list-text:hover {
    padding-left: 50px;
    transition: 0.5s;
}

.footer-list-text {
    width: auto;
    min-width: 250px;
    height: 30px;
    padding-left: 30px;
    padding-top: 10px;
}

.copyright-text {
    color: grey;
    margin-left: auto;
    margin-right: 2%;
    margin-top: 5px;
    margin-bottom: 5px;
}