.app-body {
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  min-height: 75vh;
  height: auto;
  max-width: 100%;
  font-size: 50px;
}