.home-container {
    min-height: 80vh;
    width: 100vw;
    background-image: url('../../Images/Skyrim/skyrim2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: auto;
    display: flex;
}

.home-title-image {
    width: 80vw;
}