.games-container {
    background-image: url('../../Images/backgroundimg-games.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    min-height: 75vh;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.css-line {
    border-top: 5px #696752 solid;
    width: 100%;
    margin: 20px 0;
}

.game-title {
    color: #909078;
    font-size: 30px;
    font-weight: bolder;
}

.games-box {
    background-color: rgba(0, 0, 0, 0.75);
    border-left: #696752 5px solid;
    border-right: #696752 5px solid;
    border-radius: 10px;
    min-height: 300px;
    width: auto;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 80vw;
    margin-top: 30px;
    margin-bottom: 30px;
}
  
.games-body {
    justify-content: center;
    align-items: center;
}

.game-cover-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}
  
.games-header {
    color: white;
    font-size: 25px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 50px;
}

.cover img {
    max-width: 200px;
    height: auto;
    margin-right: 20px;
}

.description {
    flex: 1;
    color: white;
    text-align: left;
    width: 100%;
    font-weight: bolder;
}