.games-container {
    background-image: url('../../Images/backgroundimg-games.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  min-height: 75vh;
  height: auto;
  width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
.games-body {
    justify-content: center;
}
  
.games-header {
    color: white;
    font-size: 25px;
}