.arena-container {
    height: auto;
    width: 100vw;
}

.arena-top {
    display: flex;
    min-height: 50vh;
}

.arena-mid {
    display: flex;
    min-height: 50vh;
}

.arena-bottom {
    display: flex;
    min-height: 50vh;
}

.arena-image {
    width: 60%;
    height: auto;
    object-fit: cover;
}
  
.arena-body {
    max-width: 40%;
    justify-content: center;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 100);
    min-height: 300px;
    height: auto;
    width: auto;
    box-sizing: border-box;
    padding: 20px;
}
  
.arena-header {
    color: white;
    font-size: 25px;
}

.arena-paragraph-font-size {
    font-size: 20px;
    padding: 30px;
    text-align: left;
    line-height: 2;
}